@import '@/styles/index';

.themeButton {
	@include display-flex;
	@include fontRaleway;

	cursor: pointer;
	padding-left: 1rem;
	background: none;
	border: none;
	border-radius: 50%;

	&.light {
		color: $color-dark-opacity;
	}

	&.dark {
		color: $color-light-opacity;
	}

	svg {
		width: 1.3rem;
		height: 1.3rem;
	}
}
