@import '@/styles/index';

.themeButton {
	@include display-flex;

	cursor: pointer;
	padding-left: 1rem;
	background: none;
	border: none;
	border-radius: 50%;

	svg {
		width: 1.6rem;
		height: 1.6rem;
	}

	&.dark {
		@include dark-theme;
	}
	&.light {
		@include light-theme;
	}
}
