@import '@/styles/index';

.gearsContainer {
	@include display-flex;

	cursor: none;
	max-width: 20rem;
	width: 40%;
	height: 30rem;
	background-color: $color-light;
	position: absolute;
	top: -1px;
	right: 0;

	&.dark {
		@include light-theme;
	}

	&.light {
		@include dark-theme;
	}

	.gear,
	.smallGear {
		cursor: none;
		position: absolute;
	}

	.gear {
		width: 20rem;
		height: 20rem;
		right: -10rem;
		top: -15rem;

		@include respond(tab-land) {
			width: 18rem;
			height: 18rem;
			right: -8.7rem;
			top: -13rem;
		}

		@include respond(phone) {
			width: 16rem;
			height: 16rem;
			right: -8rem;
			top: -11rem;
		}

		@include respond(sm-phone) {
			width: 14rem;
			height: 14rem;
			right: -7rem;
			top: -9rem;
		}
	}

	.smallGear {
		width: 15rem;
		height: 15rem;
		right: -0.85rem;
		top: 1.5rem;

		@include respond(tab-land) {
			width: 13rem;
			height: 13rem;
			right: -0.55rem;
			top: 1.8rem;
		}

		@include respond(phone) {
			width: 11rem;
			height: 11rem;
			right: -1.6rem;
			top: 3rem;
		}

		@include respond(sm-phone) {
			width: 9rem;
			height: 9rem;
			right: -1.1rem;
			top: 3.5rem;
		}
	}
}
