@import '../../../../styles/index';

.navigation {
	@include display-flex;

	align-items: flex-start;
	width: 100%;
	height: 50%;
	padding-right: 4rem;

	.sidebarList {
		padding-top: 2rem;
	}

	.sidebarClosed {
		position: absolute;
		top: 22rem;
		left: 1.2rem;
		transition: width 1s ease;

		li {
			border-top-right-radius: 50%;
			border-bottom-right-radius: 50%;
			box-shadow: 10px 0 15px -5px $gray-300;
			-webkit-box-shadow: 10px 0 15px -5px $gray-300;
			-moz-box-shadow: 10px 0 15px -5px $gray-300;
			margin: 1rem 0;

			&.dark {
				@include dark-theme;
			}

			&.light {
				@include light-theme;
			}
		}
	}

	li {
		padding: 10px 0;

		a {
			@include display-flex;
			@include font;

			justify-content: flex-start;
			font-size: 1.2rem;

			&.dark {
				@include dark-theme;
			}

			&.light {
				@include light-theme;
			}

			&:hover {
				color: $hover-color;
			}

			svg {
				margin-right: 1rem;
			}
		}
	}
}
