@import '@/styles/index';

.languageButton {
	@include display-flex;

	cursor: pointer;
	background: none;
	border: none;
	border-radius: 50%;

	&.light {
		color: $color-dark-opacity;
	}

	&.dark {
		color: $color-light-opacity;
	}

	p {
		@include fontRaleway;

		font-size: 0.8rem;
		font-weight: 500;
		letter-spacing: 0.1rem;
	}
}
