@import '../../../styles/index';

.languageButton {
	@include display-flex;

	cursor: pointer;
	background: none;
	border: none;
	border-radius: 50%;

	&.dark {
		@include dark-theme;
	}
	&.light {
		@include light-theme;
	}
}
