@import '@/styles/index';

.languageButton {
	@include display-flex;

	cursor: pointer;
	background: none;
	border: none;
	border-radius: 50%;

	&.dark {
		@include dark-theme;
	}
	&.light {
		@include light-theme;
	}

	p {
		@include fontSuperbastone;

		font-size: 1rem;
		font-weight: 500;
		letter-spacing: 0.1rem;
	}
}
