@import '@/styles/index';

.sidebar {
	@include display-flex;

	flex-direction: column;
	width: 250px;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	transition: width 0.2s ease;

	&.dark {
		@include dark-theme;

		-webkit-box-shadow: 0rem 0rem 0.5rem 0rem $color-light-opacity;
		-moz-box-shadow: 0rem 0rem 0.5rem 0rem $color-light-opacity;
		box-shadow: 0rem 0rem 0.5rem 0rem $color-light-opacity;
	}

	&.light {
		@include light-theme;
		
		-webkit-box-shadow: 0rem 0rem 0.5rem 0rem $color-dark-opacity;
		-moz-box-shadow: 0rem 0rem 0.5rem 0rem $color-dark-opacity;
		box-shadow: 0rem 0rem 0.5rem 0rem $color-dark-opacity;
	}

	&.sidebarClosed {
		width: 2rem;
	}

	.container {
		@include container;

		padding: 2rem;
	}
}
