@import '../../../styles/index';

.sidebar {
	@include display-flex;

	flex-direction: column;
	width: 250px;
	height: 100vh;
	-webkit-box-shadow: 0rem 0rem .8rem 0rem $gray-300;
	-moz-box-shadow: 0rem 0rem .8rem 0rem $gray-300;
	box-shadow: 0rem 0rem .8rem 0rem $gray-300;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	transition: width 0.2s ease;

	&.sidebarClosed {
		width: 2rem;
	}

	.container {
		@include container;

		padding: 2rem;
	}
}

.dark {
	@include dark-theme;
}

.light {
	@include light-theme;
}
