@font-face {
	font-family: 'Permanent Marker', cursive;
	font-weight: 400;
	font-style: normal;
	src: url(PermanentMarker.ttf) format(ttf);
}

@font-face {
	font-family: 'SairaCondensed-Medium', sans-serif;
	src: url(SairaCondensed-Medium.ttf) format(ttf);
}

@font-face {
	font-family: 'SairaCondensed-Bold', sans-serif;
	src: url(SairaCondensed-Bold.ttf) format(ttf);
}
