@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

@mixin display-flex {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

@mixin container {
	@include display-flex;
	@include font;

	flex-direction: column;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0 1.2rem;
}

@mixin section {
	@include display-flex;
	width: 100vw;
	height: 100vh;
}

@mixin dark-theme {
	background-color: $color-dark;
	color: $color-light;
	fill: $color-light;
}

@mixin light-theme {
	background-color: $color-light;
	color: $color-dark;
	fill: $color-dark;
}

@mixin font {
	font-family: 'SairaCondensed-Medium', sans-serif;
	font-weight: 400;
}

@mixin fontBold {
	font-family: 'SairaCondensed-Bold', sans-serif;
	font-weight: 900;
}
