@import url('https://db.onlinewebfonts.com/c/02372d276544c792b2118436e0e97f2d?family=Superbastone+W01+Regular');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@mixin display-flex {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

@mixin container {
	@include display-flex;
	@include fontRaleway;

	flex-direction: column;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0 4vw;
	overflow: hidden;
}

@mixin section {
	@include display-flex;

	width: 100vw;
	height: 100vh;
	padding: 0 0 2vh;
	will-change: transform;
}

@mixin dark-theme {
	background-color: $color-dark;
	color: $color-light;
	fill: $color-light;
}

@mixin light-theme {
	background-color: $color-light;
	color: $color-dark;
	fill: $color-dark;
}

@mixin fontDancingScript {
	font-family: 'Dancing Script', cursive;
}

@mixin fontRaleway {
	font-family: 'Raleway', sans-serif;
}

@mixin backdrop-blur-mask {
	position: relative;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	mask-image: linear-gradient(to bottom, #000000, #00000000);
	-webkit-mask-image: linear-gradient(to bottom, #000000, #00000000);
}

@mixin backdrop-blur-radial-mask {
	backdrop-filter: blur(5px);
	mask-image: radial-gradient(circle, #000000 0%, #00000000 70%);
	-webkit-mask-image: radial-gradient(circle, #000000 0%, #00000000 38%);
}
