@mixin display-flex {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

@mixin container {
	@include display-flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
}

@mixin section {
	@include display-flex;
	width: 100vw;
	height: 100vh;
}

@mixin dark-theme {
	background: $bg-dark;
	color: $font-white;
	fill: $font-white;
}

@mixin light-theme {
	background: $bg-light;
	color: $font-black;
	fill: $font-black;
}
