@import '@/styles/index';

.main {
	transition: all 0.5s ease-in-out;
	
	&.dark {
		@include dark-theme;
	}
	&.light {
		@include light-theme;
	}

	.header {
		@include display-flex;
	}

	.fixedHeader {
		position: fixed;
		width: 100%;
		height: 6rem;
		top: 0;
		z-index: 10;
		transition: all 0.5s ease-in-out;

		&.dark {
			@include dark-theme;
		}
		&.light {
			@include light-theme;
		}
	}
}
