@import '@/styles/index';

.about {
	@include section;

	&.dark {
		@include light-theme;
	}

	&.light {
		@include dark-theme;
	}

	.container {
		@include container;
	}

	.title {
		font-size: 18rem;
		font-weight: 900;
		display: inline;
		z-index: 1;
		letter-spacing: 1rem;

		&.dark {
			@include light-theme;
		}

		&.light {
			@include dark-theme;
		}

		@include respond(tab-land) {
			font-size: 12rem;
		}

		@include respond(tab-port) {
			font-size: 8rem;
		}

		@include respond(phone) {
			font-size: 5.3rem;
		}

		@include respond(sm-phone) {
			font-size: 4.5rem;
		}
	}
}
