@import '@/styles/index';

.about {
	@include section;

	&.dark {
		@include light-theme;
	}

	&.light {
		@include dark-theme;
	}

	.container {
		@include container;
	}

	.title {
		font-size: clamp(4.5rem, -5.143rem + 25.714vw, 18rem);
		font-weight: 900;
		display: inline;
		z-index: 1;
		letter-spacing: 1rem;

		&.dark {
			@include light-theme;
		}

		&.light {
			@include dark-theme;
		}
	}
}
