@import '@/styles/index';

.projects {
	@include section;

	position: relative;

	&.dark {
		@include light-theme;
	}

	&.light {
		@include dark-theme;
	}

	.gearFull {
		cursor: none;
		position: absolute;
		background: none !important;
		width: 70rem;
		height: 70rem;
		left: -24rem;
		top: -24.5rem;


		@include respond(tab-land) {
			width: 65rem;
			height: 65rem;
			left: -22rem;
			top: -22.7rem;
		}

		@include respond(phone) {
			width: 60rem;
			height: 60rem;
			left: -21rem;
			top: -21.2rem;
		}

		@include respond(sm-phone) {
			width: 45rem;
			height: 45rem;
			left: -17rem;
			top: -15.8rem;
		}
	}

	.container {
		@include container;

		position: relative;
	}

	.projectsContainer {
		@include display-flex;

		width: 100vw;
		height: 100vh;
		padding: 0.8rem;
		position: relative;
		z-index: 10;

		&.dark {
			background-color: $color-dark-opacity;
		}

		&.light {
			background-color: $color-light-opacity;
		}
	}

	.projectsItem {
		@include display-flex;

		width: 30rem;
		height: 30rem;

		&.dark {
			background-color: $color-light-opacity-07;
		}

		&.light {
			background-color: $color-dark-opacity-07;
		}


		.projectsImg {
			width: 20rem;
			height: 30rem;

			&.dark {
				background-color: $color-light;
				border: .4rem solid $color-dark-opacity;
			}

			&.light {
				background-color: $color-dark;
				border: .4rem solid $color-light-opacity;
			}


			&:nth-child(2) {
			margin: 0rem 1rem;
		}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}	
		}
	}

	.title {
		font-size: clamp(4.5rem, -5.143rem + 25.714vw, 18rem);
		font-weight: 900;
		display: inline;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		letter-spacing: 0.5rem;
		z-index: 1;
		background: none !important;

		&.dark {
			color: $color-dark-opacity;
		}

		&.light {
			color: $color-light-opacity;
		}
	}
}
