@import '@/styles/index';

.container {
	@include container;

	position: relative;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	mask-image: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 1) 30%,
		rgba(0, 0, 0, 0) 100%
	);
	-webkit-mask-image: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 1) 30%,
		rgba(0, 0, 0, 0) 100%
	);

	.projectsContainer {
		@include display-flex;

		width: 100vw;
		height: 100vh;
		padding: 0.8rem;
		position: relative;
		z-index: 10;

		&.dark {
			background-color: $color-dark-opacity;
		}

		&.light {
			background-color: $color-light-opacity;
		}
	}

	.projectsItem {
		@include display-flex;

		width: 30rem;
		height: 30rem;

		&.dark {
			background-color: $color-light-opacity;
		}

		&.light {
			background-color: $color-dark-opacity;
		}

		.projectsImg {
			width: 20rem;
			height: 30rem;

			&.dark {
				background-color: $color-light;
				border: 0.4rem solid $color-dark-opacity;
			}

			&.light {
				background-color: $color-dark;
				border: 0.4rem solid $color-light-opacity;
			}

			&:nth-child(2) {
				margin: 0rem 1rem;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	.title {
		@include fontRaleway;

		font-size: clamp(4.5rem, -5.143rem + 25.714vw, 18rem);
		font-weight: 900;
		display: inline;
		z-index: 1;
		letter-spacing: 1rem;

		&.dark {
			@include light-theme;
		}

		&.light {
			@include dark-theme;
		}
	}

	.silhouetteContainer {
		@include display-flex;

		width: 34rem;
		height: 50rem;
		position: absolute;
		left: 0;

		.silhouette {
			cursor: auto;
			transform: scaleX(-1);
			position: relative;
			left: clamp(-12rem, -12.667rem + 2.963vw, -10rem);
			width: clamp(20rem, 15rem + 22.222vw, 35rem);
			height: clamp(35rem, 30rem + 22.222vw, 50rem);

			&.light {
				fill: $color-dark-opacity;
			}

			&.dark {
				fill: $color-black;
			}
		}
	}
}
