@import '../../styles/index';

.toggleButton {
	@include display-flex;

	position: absolute;
	left: 14.5rem;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
	border: none;
	width: 2rem;
	height: 2rem;
	overflow: hidden;
	box-shadow: 10px 0 15px -5px $color-gray-300;
	-webkit-box-shadow: 10px 0 15px -5px $color-gray-300;
	-moz-box-shadow: 10px 0 15px -5px $color-gray-300;
	transition: width 1s ease;
	cursor: pointer;

	&.toggleButtonClosed {
		left: 1rem;
		top: 18rem;
		transition: width 1s ease;
	}

	&.dark {
		@include dark-theme;
	}

	&.light {
		@include light-theme;
	}
}
