@import '@/styles/index';

.skills {
	@include section;
	position: relative;

	.container {
		@include container;

		.textContainer {
			@include display-flex;
			width: 100vw;
			height: 30vh;
			padding: 0.8rem;
			position: relative;
			z-index: 10;

			&.dark {
				@include dark-theme;
				
			}

			&.light {
				@include light-theme;
			}
		}

		.line1,
		.line2,
		.line3 {
			width: 100vw;
			height: 33.3%;
		}

		.line1 {
			top: 0;
			
		}
		
		.line3 {
			bottom: 0;
		}

		.title {
			font-size: 18rem;
			font-weight: 900;
			display: inline;
			position: absolute;
			letter-spacing: 1rem;
			z-index: 1;

			&.dark {
				@include dark-theme;
			}

			&.light {
				@include light-theme;
			}

			@include respond(tab-land) {
				font-size: 12rem;
			}

			@include respond(tab-port) {
				font-size: 8rem;
			}

			@include respond(phone) {
				font-size: 5.3rem;
			}

			@include respond(sm-phone) {
				font-size: 4.5rem;
			}
		}
	}

	
}
