@import '../../styles/index';

.sidebar {
	@include display-flex;
	flex-direction: column;
	width: 300px;
	height: 100vh;
	border-right: 1px solid;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;

	.container {
		@include container;
	}
}

.dark {
	@include dark-theme;
}

.light {
	@include light-theme;
}
