@import '@/styles/index';

.cursor {
	position: fixed;
	height: 2rem;
	width: 2rem;
	mix-blend-mode: difference;
	background-color: $color-light;
	border: 1px solid $color-light-opacity;
	border-radius: 50%;

	transform: translate(-50%, -50%);
	pointer-events: none;
	z-index: 999;

	svg {
		width: 100%;
		height: 100%;
	}

	@include respond(tab-port) {
		display: none;
	}
	
	@include respond(phone) {
		display: none;
	}
}
