@import '@/styles/index';

.container {
	@include container;

	position: relative;
	overflow-x: hidden;

	nav {
		@include display-flex;

		position: absolute;
		top: 2.5rem;
		left: 2rem;

		a {
			font-size: .8rem;
			
			&:first-of-type {
				padding-right: 1rem;
			}

			&:hover {
				color: $active-color;
			}
		}
	}

	.content {
		@include display-flex;

		flex-direction: column;
		width: fit-content;
		min-width: 100%;
		position: absolute;

		h1 {
			display: inline-block;
			font-size: clamp(5rem, -2.143rem + 19.048vw, 15rem);
			font-weight: 900;
			letter-spacing: clamp(1rem, -1.143rem + 5.714vw, 4rem);
			margin-bottom: 1rem;
			color: transparent;
			background: url('@/assets/images/bg-wanted-title.png') repeat;
			-webkit-background-clip: text;
			background-clip: text;

			&.light {
				background-color: $color-dark-opacity;
			}

			&.dark {
				background-color: $color-light-opacity;
			}
		}

		p {
			font-family: 'Smokum', serif;
			font-size: 1.3rem;
			letter-spacing: 0.6rem;
		}
	}

	.heroLink{
		display: flex;
		justify-content: center;
	}

	.heroHome {
		width: 800px;
		height: 896px;
		position: absolute;
		z-index: 2;
		bottom: 3rem;

		&.light {
			fill: $color-dark-opacity;
		}

		&.dark {
			fill: $color-light-opacity;
		}
	}

	.tablet {
		@include display-flex;

		flex-direction: column;
		font-family: 'Smokum', serif;
		letter-spacing: 2px;
		width: clamp(21rem, 13.6056rem + 31.5493vw, 50rem);
		position: absolute;
		bottom: 2rem;
		text-align: right;
		font-size: clamp(1.125rem, 0.768rem + 0.952vw, 1.625rem);
		letter-spacing: 0.3rem;
		padding: 0.5rem;
		z-index: 10;

		a {
			font-size: 2rem;
			font-weight: 600;
			padding: 0.5rem 0;
			cursor: pointer;

			&:hover {
				color: $active-color;
			}
		}

		span {
			font-size: 1.3rem;
			font-weight: 200;
			letter-spacing: 0.6rem;
		}
	}
}
