@import '@/styles/index';

.home {
	@include section;

	.container {
		@include container;

		.content {
			@include display-flex;
			flex-direction: column;
			width: clamp(21rem, 13.6056rem + 31.5493vw, 42rem);
			min-height: 20%;
			padding: 0.8rem;

			h1 {
				font-size: clamp(1.625rem, 1.089rem + 1.429vw, 2.375rem);
				font-weight: 600;
				margin-bottom: 1rem;
			}

			p {
				font-size: clamp(1.125rem, 0.768rem + 0.952vw, 1.625rem);
			}
		}

		
	}
}
