@import '@/styles/index';

.container {
	@include container;
	@include backdrop-blur-mask;

	.titleContainer {
		@include display-flex;

		position: absolute;
		text-align: right;

		&.light {
			background-color: $color-light-opacity;
		}

		&.dark {
			background-color: $color-dark-opacity;
		}

		.titleText {
			@include display-flex;

			flex-direction: column;

			h1 {
				@include fontDancingScript;

				font-size: clamp(2rem, 0rem + 8.889vw, 8rem);
				font-weight: 900;
				letter-spacing: 0.4rem;
				padding: 1rem 0;
				color: $active-color;

				transition: transform 0.5s;
			}

			span {
				font-size: clamp(1rem, 0.857rem + 0.381vw, 1.2rem);
				font-weight: 500;
				letter-spacing: 0.6rem;
				padding-top: clamp(0rem, -0.667rem + 2.963vw, 2rem);

				&.light {
					fill: $color-dark-opacity;
				}

				&.dark {
					fill: $color-light-opacity;
				}

				@include respond(phone) {
					letter-spacing: 0.2rem;
				}
			}
		}
	}

	.heroContainer {
		@include display-flex;

		justify-content: flex-start;
		width: 100%;
		cursor: none;

		.heroBox {
			@include backdrop-blur-radial-mask;

			transform: translate(-20%, 0%);

			@include respond(tab-port) {
				transform: translate(-28%, 0%);
			}
		}

		.heroItem {
			cursor: none;
			width: clamp(40rem, 33rem + 31.111vw, 61rem);
			height: clamp(44rem, 37rem + 31.111vw, 65rem);

			&.light {
				fill: $color-dark-opacity;
			}

			&.dark {
				fill: $color-black;
			}
		}

		.smallHero_h400 {
			width: clamp(25rem, 20rem + 31.111vw, 46rem);
			height: clamp(29rem, 22rem + 31.111vw, 50rem);
		}

		.smallHero_h500 {
			width: clamp(30rem, 23rem + 31.111vw, 51rem);
			height: 40rem;
		}

		.smallHero_h600 {
			width: clamp(35rem, 28rem + 31.111vw, 56rem);
			height: clamp(39rem, 32rem + 31.111vw, 60rem);
			transform: translate(0px, 45px);
		}
	}
}
