@import '@/styles/index';

.settings {
	@include display-flex;

	font-size: 1.2rem;
	min-width: 30px;
	min-height: 30px;
	position: fixed;
	top: 2rem;
	right: 1.3rem;
	z-index: 200;

	.container {
		@include container;

		flex-direction: row;
		padding: 0;

		.iconContainer {
			@include display-flex;

			cursor: pointer;
			width: 2rem;
			height: 2rem;
			border-radius: 50%;

			&.dark {
				@include dark-theme;
			}

			&.light {
				@include light-theme;
			}
		}

		.iconSettings {
			width: 20px;
			height: 20px;
			animation: rotate 10s linear infinite;
			background: none !important;

			&.dark {
				@include dark-theme;
			}

			&.light {
				@include light-theme;
			}
		}

		.btnSettings {
			@include display-flex;

			position: absolute;
			right: 40px;
			padding: 10px;
			border-radius: 20px;

			&.dark {
				@include dark-theme;
			}

			&.light {
				@include light-theme;
			}

			p,
			svg {
				&:hover {
					color: $hover-color;
				}
			}
		}
	}
}
