@import '@/styles/index';

.toggleButton {
	@include display-flex;

	position: absolute;
	left: 14.5rem;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
	border: none;
	width: 2rem;
	height: 2rem;
	overflow: hidden;
	transition: width 1s ease;
	cursor: pointer;

	&.toggleButtonClosed {
		left: 1rem;
		top: 18rem;
		transition: width 1s ease;
	}

	&.dark {
		@include dark-theme;
		
		box-shadow: 10px 0 10px -8px $color-light-opacity;
		-webkit-box-shadow: 10px 0 10px -8px $color-light-opacity;
		-moz-box-shadow: 10px 0 10px -8px $color-light-opacity;
	}

	&.light {
		@include light-theme;

		box-shadow: 10px 0 10px -8px $color-dark-opacity;
		-webkit-box-shadow: 10px 0 10px -8px $color-dark-opacity;
		-moz-box-shadow: 10px 0 10px -8px $color-dark-opacity;
	}
}
