@import '@/styles/index';

.container {
	@include container;

	.inkPen {
		position: relative;
		z-index: 10;
	}

	@keyframes draw-text {
		0% {
			stroke-dasharray: 0, 100;
			stroke-dashoffset: 0;
		}
		100% {
			stroke-dasharray: 100, 0;
			stroke-dashoffset: 0;
		}
	}

	.title {
		fill: none;
		stroke: currentColor;
		stroke-width: 2;
		stroke-dasharray: 100;
		stroke-dashoffset: 100;
		animation: draw-text 2s forwards;
	}

	.columnContainer {
		@include display-flex;

		width: 100%;
		height: 100%;

		.leftColumn,
		.rightColumn {
			@include display-flex;

			height: 100%;
		}

		.leftColumn {
			width: 60%;
		}

		.rightColumn {
			width: 40%;
			position: relative;

			.heroContact,
			img {
				width: clamp(27.5rem, 24.211rem + 17.544vw, 40rem);
				height: clamp(33.75rem, 30.461rem + 17.544vw, 46.25rem);
				position: absolute;
				right: -6.875rem;
				bottom: -1rem;
				z-index: 1;
				transition: all 0.5s ease-in-out;
			}

			.heroContact {
				opacity: 1;

				&.light {
					fill: $color-dark-opacity;
				}

				&.dark {
					fill: $color-light-opacity;
				}

				&:hover {
					opacity: 0;
					transition: all 0.5s ease-in-out;
				}
			}

			img {
				opacity: 0;

				&:hover {
					opacity: 1;
					transition: all 0.5s ease-in-out;
				}
			}
		}
	}
}
