@import '@/styles/index';

.container {
	@include container;

	padding: 0;
	position: relative;
	z-index: 2;

	.openModalButton {
		position: absolute;
		z-index: 1;
		left: 50%;
		transform: translate(-50%, -20%);
		border: none;
		background: none;
		cursor: pointer;
	}

	.title {
		@include backdrop-blur-mask;

		width: clamp(22rem, 17.333rem + 20.741vw, 36rem);
		height: clamp(16rem, 13.333rem + 11.852vw, 24rem);
		transition: all 0.5s ease-in-out;

		&.light {
			color: $color-dark;
		}

		&.dark {
			color: $color-light;
		}

		&:hover {
			fill: $active-color;
		}
	}

	.heroContainer {
		@include backdrop-blur-mask;

		width: 100%;
		height: 100%;
		position: absolute;
		top: 0rem;
		right: 0rem;

		.heroContact {
			opacity: 1;

			&.light {
				fill: $color-dark-opacity;
			}

			&.dark {
				fill: $color-black;
			}

			&:hover {
				opacity: 0;
				transition: all 0.5s ease-in-out;
			}
		}

		img {
			opacity: 0;

			&:hover {
				opacity: 1;
				transition: all 0.5s ease-in-out;
			}
		}

		.heroContact,
		img {
			width: clamp(23rem, 17.333rem + 25.185vw, 40rem);
			height: clamp(28rem, 21.917rem + 27.037vw, 46.25rem);
			position: absolute;
			right: -2rem;
			bottom: 0;
			z-index: 1;
			transition: all 0.5s ease-in-out;

			&.smallHero_h400 {
				width: 15rem !important;
				height: 20rem !important;
			}

			&.smallHero_h500 {
				width: 20rem !important;
				height: 23rem !important;
			}

			&.smallHero_h600 {
				width: 30rem !important;
				height: 35rem !important;
				right: -3rem !important;
			}
		}
	}

	.modalWrapper {
		@include display-flex;

		width: 100%;
		min-height: 100%;

		position: absolute;
		top: 0;
		left: 0;

		&.modalContent {
			@include display-flex;

			width: clamp(21.5rem, 23.7037vw + 16.1667rem, 37.5rem);
		}
	}

	.social {
		@include display-flex;
		@include backdrop-blur-mask;

		gap: 1.2rem;
		width: 12rem;
		height: 6rem;
		position: fixed;
		z-index: 20;
		bottom: 0;
		left: 0;
		backdrop-filter: blur(5px);

		border-top-right-radius: $border-radius;

		&.light {
			background: $color-dark;
		}
		&.dark {
			background: $color-light;
		}

		.socialIcon {
			width: 2rem;
			height: 2rem;

			&.light {
				fill: $color-light;
			}

			&.dark {
				fill: $color-dark;
			}

			&:hover {
				transform: translateY(-0.5rem);
				transition: all 0.3s ease-in-out;
				fill: $active-color;
			}
		}
	}
}
